@media(min-width:1025px) and (max-width:1350px){
	/* *** Index Page *** */
	.navbar-default{
		padding: 15px 0;
	}
	.navbar-brand>img{
		margin-top: 10px;
	}
	.navbar-default .navbar-nav>li>a{
		font-size: 18px;
	}
	.dropdown-menu{
		left: -70px;
	}

	.main-block {
		padding: 80px 0;
	}
	.home-info h1{
		font-size: 55px;
		line-height: 60px;
		margin:  0 0 10px;
	}
	.home-info .btn-main{
		padding: 10px 40px;
		font-size: 18px;
	}
	.home-img img{
		width: 70%;
	}

	footer{
		padding: 10px 0;
	}
	/* *** End Index Page *** */

	/* *** Error Pages *** */
	.error-dt{
		padding: 0 40px;
	}
	.error-dt h2{
		font-size: 150px;
	}

	.logo-bx{
		padding: 20px 0;
	}
	.profile-ver2{
		width: 300px;
		padding: 0 15px;
	}
	.profile-v2 .pro-bx{
		padding: 20px 0;
		display: block;
		text-align: center;
	}
	.profile-v2 .pro-bx .pro-img img{
		margin: 0 auto 10px;
	}
	.profile-v2 .pro-v1-lk{
		padding: 0 0 80px;
	}

	.user-prov3 .poll-prohd .pro-img img{
		margin-right: 10px
	}
	.user-prov3 .poll-prohd .pro-dt h3{
		font-size: 20px;
	}
	 .user-prov3 .poll-prohd .pro-dt p{
	 	font-size: 12px;
	 }
	/* *** End Error Pages *** */
}

@media(min-width:992px) and (max-width:1024px){
	/* *** Index Page *** */
	.navbar-default{
		padding: 15px 0;
	}
	.navbar-brand>img{
		margin-top: 10px;
	}
	.navbar-default .navbar-nav>li>a{
		font-size: 18px;
	}
	.dropdown-menu{
		left: -70px;
	}

	.main-block {
		padding: 80px 0;
	}
	.home-info h1{
		font-size: 55px;
		line-height: 60px;
		margin:  0 0 10px;
	}
	.home-info .btn-main{
		padding: 10px 40px;
		font-size: 18px;
	}
	.home-img img{
		width: 70%;
	}

	footer{
		padding: 10px 0;
	}
	/* *** End Index Page *** */

	/* *** Error Pages *** */
	.error-dt{
		padding: 0 40px;
	}
	.error-dt h2{
		font-size: 150px;
	}
	/* *** End Error Pages *** */

	/* *** Poll Start *** */
	.start-head h1{
		font-size: 40px;
	}
	.start-head h2{
		font-size: 24px;
	}
	.poll-start-wrp{
		padding: 15px;
	}
	.header-wrp h3 img,
	.header-wrp h2 img{
		width: 20px;
	}
	.header-wrp h2{
		font-size: 20px;
		margin: 0 0 10px;
	}
	.header-wrp h3{
		font-size: 20px;
	}
	.progress-poll{
		padding: 20px 15px 35px;
	}
	.dash-nav .navbar-brand>img{
		margin: 0;
	}

	.prov1-wrp{
		padding: 0;
	}
	.poll-prohd .pro-img img{
		width: 60px;
		height: 60px;
		margin-right: 10px;
	}
	.poll-prohd .pro-dt h3{
		font-size: 20px;
	}
	.poll-prohd .pro-dt p{
		font-size: 12px;
	}
	.poll-left{
		padding: 40px 10px;
	}
	.poll-right .cre-pl{
		padding: 15px;
	}
	.poll-right .cre-pl h4{
		font-size: 20px;
	}
	.poll-right .cre-pl p{
		font-size: 14px;
	}
	.poll-right .cre-pl li{
		font-size: 14px;
		padding: 5px 15px;
		width: 100%;
		display: block;
		text-align: center;
	}

	.logo-bx{
		padding: 20px 0;
	}
	.profile-ver2{
		width: 300px;
		padding: 0 15px;
	}
	.profile-v2 .pro-bx{
		padding: 20px 0;
		display: block;
		text-align: center;
	}
	.profile-v2 .pro-bx .pro-img img{
		margin: 0 auto 10px;
	}
	.profile-v2 .pro-v1-lk{
		padding: 0 0 80px;
	}
	/* *** End Poll Start *** */
}

@media(min-width:768px) and (max-width:991px){
	/* *** Index Page *** */
	.navbar-default{
		padding: 15px 0;
	}
	.navbar-brand>img{
		margin-top: 10px;
	}
	.navbar-default .navbar-nav>li>a{
		font-size: 18px;
	}
	.dropdown-menu{
		left: -70px;
	}

	.main-block {
		padding: 80px 0;
	}
	.home-info h1{
		font-size: 45px;
		line-height: 50px;
		margin:  0 0 10px;
	}
	.home-info .btn-main{
		padding: 10px 40px;
		font-size: 18px;
	}
	.home-img img{
		width: 90%;
	}

	footer{
		padding: 10px 0;
	}
	/* *** End Index Page *** */

	/* *** Error Page *** */
	.error-bx h1{
		font-size:110px;
		text-align: center;
	}

	.error-dt{
		padding: 0;
	}
	.error-dt h2{
		font-size: 150px;
	}
	/* *** End Error Page *** */

	/* *** Poll Start *** */
	.start-head h1{
		font-size: 40px;
	}
	.start-head h2{
		font-size: 24px;
	}
	.poll-start-wrp{
		padding: 15px;
	}
	.header-wrp h3 img,
	.header-wrp h2 img{
		width: 20px;
	}
	.header-wrp h2{
		font-size: 20px;
		margin: 0 0 10px;
	}
	.header-wrp h3{
		font-size: 20px;
	}
	.progress-poll{
		padding: 20px 15px 35px;
	}
	/* *** End Poll Start *** */

	/* *** User Profile 0*** */
	.user-profile-head{
		padding: 40px 0;
	}
	.pro-img img{
		width: 80px;
		height: 80px;
	}
	.pro-dt h3{font-size: 28px;}
	.pro-like ul{
		text-align: left;
	}
	.pro-like li{
		margin-right: 10px;
		font-size: 15px;
		padding: 5px 15px;
	}
	.pro-like li img{
		width:20px;
		height:20px;
		margin-right: 10px;
	}
	.polls-created-wrp{
		padding: 40px 15px;
	}
	.polls-created-wrp h2{
		font-size: 18px;
	}
	.polls-created-wrp h2 img{
		width: 20px;
		height: 20px;
	}
	.cre-pl{
		padding: 15px;
	}
	.cre-pl p{
		font-size: 16px;
		line-height: 20px;
	}
	.cre-pl li{
		padding: 5px 20px;
		font-size: 15px
	}

	.prov1-wrp{
		padding: 0;
	}
	.poll-prohd .pro-img img{
		width: 60px;
		height: 60px;
		margin-right: 10px;
	}
	.poll-prohd .pro-dt h3{
		font-size: 20px;
	}
	.poll-prohd .pro-dt p{
		font-size: 12px;
	}
	.poll-left{
		padding: 40px 10px;
	}
	.poll-right .cre-pl{
		padding: 15px;
	}
	.poll-right .cre-pl h4{
		font-size: 20px;
	}
	.poll-right .cre-pl p{
		font-size: 14px;
	}
	.poll-right .cre-pl li{
		font-size: 14px;
		padding: 5px 15px;
		width: 100%;
		display: block;
		text-align: center;
	}

	.poll-left{
		padding: 40px 0;
	}
	.poll-prohd .pro-dt h3{
		font-size: 22px;
	}
	.poll-right{
		padding: 40px 0;
	}
	.poll-right .cre-pl{
		padding: 15px;
	}
	.poll-right .cre-pl li{
		font-size: 14px;
		padding: 5px 15px;
	}

	.logo-bx{
		padding: 20px 0;
	}
	.profile-ver2{
		width: 260px;
		padding: 0 15px;
	}
	.profile-v2 .pro-bx{
		padding: 20px 0;
		display: block;
		text-align: center;
	}
	.profile-v2 .pro-bx .pro-img img{
		margin: 0 auto 10px;
	}
	.profile-v2 .pro-v1-lk{
		padding: 0 0 80px;
	}

	.user-prov3 .poll-left{
		padding:  15px;
	}
	.user-prov3 .pro-bx{
		display: block;
		text-align: center;
	}
	.user-prov3 .pro-img img{
		margin: 0 auto 10px;
	}
	/* *** End User Profile 0 *** */
}

@media(min-width:448px) and (max-width:767px){
	/* *** Index Page *** */
	.navbar-default{
		padding: 10px 0;
	}
	.navbar-brand>img{
		margin-left: 15px;
		margin-top: 10px;
	}
	.navbar-nav{
		margin: 10px 0;
		float: none !important;
	}
	.navbar-default .navbar-nav>li>a{
		display: table;
		margin: 0 auto;
		font-size: 18px;
	}

	.main-block{
		height: auto;
		padding: 80px 0 40px;
	}
	.main-block .container{
		height: auto;
	}
	.home-info h1{
		font-size: 55px;
		line-height:56px;
		text-align: center;
	}
	.home-info .btn-main{
		padding: 10px 40px;
		font-size: 18px;
		margin: 0 auto;
	}
	.home-img{
		margin-top: 40px;
	}

	.footer-logo{
		text-align: center;
	}
	.footer-logo img{
		margin: 0 auto 5px;
	}
	.foot-links ul{
		text-align: center;
	}
	.foot-links ul li a{
		padding: 10px 0;
	}
	/* *** End Index Page *** */

	/* *** Error Pages *** */
	.error-bx{
		width: 100%;
		right: 0;
		left: 0;
		position: relative;
		transform: translate(0);
	}
	.error-dt h2,
	.error-bx h1{
		font-size: 120px;
		text-align: center;
	}

	.error-dt{
		padding: 0;
	}
	.error-dt p{
		font-size: 16px;
	}
	.error-dt .btn-main{
		display: table;
		margin: 0 auto 10px;
		float: none;
	}
	.error-img img{
		margin: 0 auto;
	}	
	/* *** End Error Pages *** */

	/* *** Dashboard *** */
	.add-btn{
		padding: 10px 40px;
		font-size: 16px;
	}
	.poll-tab p{
		float: none;
		margin: 0 0 10px;
		text-align: center;
	}
	.poll-tab .nav>li{
		margin: 0 0 10px;
		display: block;
		float: none;
	}
	.filter-bx,
	.poll-tab .nav-tabs{
		float: none;
	}
	.filter-bx img{
		margin: 0 auto;
	}
	.list-nm p{
		text-align: center;
		margin: 0 0 10px;
	}
	.action-icons ul{
		text-align: center;
	}
	/* *** End Dashboard *** */

	/* *** Create Poll *** */
	.crebtn{
		left: 0;
		width: 100%;
		text-align: center;
	}
	.create-pol-wrp{
		padding: 80px 15px;
	}
	.dt-it h6, .cre-frmg h6{
		font-size: 22px;
	}
	.dt-it p, .cre-frmg p{
		font-size: 15px;
	}
	.op-lf p{
		font-size: 22px;
	}
	.add-pol i{
		width: 45px;
		height: 45px;
		line-height: 45px;
		font-size: 15px;
	}
	.dt-it{
		width: 100%;
		overflow: hidden;
	}
	.dt-it h6{
		font-size: 20px;
	}
	.end-poll .form-group{
		margin: 0 0 15px;
		overflow: hidden;
		width: 100%;
	}
	.checkmark{
		position: relative;
		display: block;
		margin: 10px 0 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border: none;
		box-shadow: none;
	}

	.modal-dialog{
		width: 90%;
		margin: 30px auto;
	}
	.modal {
		padding-right: 0!important;
	}
	.user-listing li{
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	/* *** End Create Poll *** */

	/* *** Poll Start *** */
	.start-head h1{
		font-size: 36px;
	}
	.start-head h2{
		font-size: 20px;
	}
	.poll-start-wrp{
		padding: 15px;
	}
	.header-wrp h3 img,
	.header-wrp h2 img{
		width: 20px;
	}
	.header-wrp h2{
		text-align: center;
		font-size: 20px;
		margin: 0 0 10px;
	}
	.header-wrp h3{
		text-align: center;
		font-size: 20px;
	}
	.progress-poll{
		padding: 20px 15px 35px;
	}
	/* *** End Poll Start *** */

	/* *** User Profile 0*** */
	.user-profile-head{
		padding: 40px 0;
	}
	.pro-img img{
		width: 80px;
		height: 80px;
	}
	.pro-dt h3{font-size: 28px;}
	.pro-like ul{
		text-align: left;
	}
	.pro-like li{
		margin-right: 10px;
		font-size: 15px;
		padding: 5px 15px;
	}
	.pro-like li img{
		width:20px;
		height:20px;
		margin-right: 10px;
	}
	.polls-created-wrp{
		padding: 40px 15px;
	}
	.polls-created-wrp h2{
		font-size: 18px;
	}
	.polls-created-wrp h2 img{
		width: 20px;
		height: 20px;
	}
	.cre-pl{
		padding: 15px;
	}
	.cre-pl p{
		font-size: 16px;
		line-height: 20px;
	}
	.cre-pl li{
		padding: 5px 20px;
		font-size: 15px
	}

	.poll-left{
		padding: 40px 0;
	}
	.poll-prohd .pro-dt h3{
		font-size: 22px;
	}
	.poll-right{
		padding: 40px 0;
	}
	.poll-right .cre-pl{
		padding: 15px;
	}
	.poll-right .cre-pl li{
		font-size: 14px;
		padding: 5px 15px;
	}

	.pro-userv2{
		padding: 0 0 40px;
	}
	.profile-ver2{
		position: relative;
		width: 100%;
		padding: 0 15px;
		margin-bottom: 30px;
	}
	.profile-v2 .pro-bx .pro-img img{
		margin-right: 10px;
	}

	.user-prov3 .poll-left{
		margin-bottom: 30px;
		padding:  15px;
	}
	/* *** End User Profile 0 *** */
}

@media(max-width:447px){
	/* *** Index Page *** */
	.navbar-default{
		padding: 10px 0;
	}
	.navbar-brand>img{
		margin-left: 15px;
		margin-top: 10px;
	}
	.navbar-nav{
		margin: 10px 0;
		float: none !important;
	}
	.navbar-default .navbar-nav>li{
		margin: 0;
	}
	.navbar-default .navbar-nav>li>a{
		display: table;
		margin: 0 auto;
		font-size: 18px;
	}

	.main-block{
		height: auto;
		padding: 80px 0 40px;
	}
	.main-block .container{
		height: auto;
	}
	.home-info h1{
		font-size: 55px;
		line-height:56px;
		text-align: center;
	}
	.home-info .btn-main{
		padding: 10px 40px;
		font-size: 18px;
		margin: 0 auto;
	}
	.home-img{
		margin-top: 40px;
	}

	.footer-logo{
		text-align: center;
	}
	.footer-logo img{
		margin: 0 auto 5px;
	}
	.foot-links ul{
		text-align: center;
	}
	.foot-links ul li a{
		padding: 10px 0;
	}
	/* *** End Index Page *** */

	/* *** Error Pages *** */
	.error-bx{
		width: 100%;
		right: 0;
		left: 0;
		position: relative;
		transform: translate(0);
	}
	.error-dt h2,
	.error-bx h1{
		font-size: 120px;
		text-align: center;
	}

	.error-dt{
		padding: 0;
	}
	.error-dt p{
		font-size: 16px;
	}
	.error-dt .btn-main{
		display: table;
		margin: 0 auto 10px;
		float: none;
	}
	/* *** End Error Pages *** */

	/* *** Dashboard *** */
	.add-btn{
		padding: 10px 40px;
		font-size: 16px;
	}
	.poll-tab p{
		float: none;
		margin: 0 0 10px;
		text-align: center;
	}
	.poll-tab .nav>li{
		margin: 0 0 10px;
		display: block;
		float: none;
	}
	.filter-bx,
	.poll-tab .nav-tabs{
		float: none;
	}
	.filter-bx img{
		margin: 0 auto;
	}
	.list-nm p{
		text-align: center;
		margin: 0 0 10px;
	}
	.action-icons ul{
		text-align: center;
	}
	/* *** End Dashboard *** */

	/* *** Create Poll *** */
	.crebtn{
		left: 0;
		width: 100%;
		text-align: center;
	}
	.create-pol-wrp{
		padding: 80px 15px;
	}
	.dt-it h6, .cre-frmg h6{
		font-size: 22px;
	}
	.dt-it p, .cre-frmg p{
		font-size: 15px;
	}
	.op-lf p{
		font-size: 22px;
	}
	.add-pol i{
		width: 45px;
		height: 45px;
		line-height: 45px;
		font-size: 15px;
	}
	.dt-it{
		width: 100%;
		overflow: hidden;
	}
	.dt-it h6{
		font-size: 20px;
	}
	.end-poll .form-group{
		margin: 0 0 15px;
		overflow: hidden;
		width: 100%;
	}
	.checkmark{
		position: relative;
		display: block;
		margin: 10px 0 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border: none;
		box-shadow: none;
	}

	.modal-dialog{
		width: 90%;
		margin: 30px auto;
	}
	.modal {
		padding-right: 0!important;
	}
	.user-listing li{
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	/* *** End Create Poll *** */

	/* *** Poll Start *** */
	.start-head h1{
		font-size: 36px;
	}
	.start-head h2{
		font-size: 20px;
	}
	.poll-start-wrp{
		padding: 15px;
	}
	.header-wrp h3 img,
	.header-wrp h2 img{
		width: 20px;
	}
	.header-wrp h2{
		text-align: center;
		font-size: 20px;
		margin: 0 0 10px;
	}
	.header-wrp h3{
		text-align: center;
		font-size: 20px;
	}
	.progress-poll{
		padding: 20px 15px 35px;
	}
	/* *** End Poll Start *** */

	/* *** User Profile 0*** */
	.user-profile-head{
		padding: 40px 0;
	}
	.pro-img img{
		width: 80px;
		height: 80px;
	}
	.pro-dt h3{font-size: 28px;}
	.pro-like ul{
		text-align: left;
	}
	.pro-like li{
		margin-right: 10px;
		font-size: 15px;
		padding: 5px 15px;
	}
	.pro-like li img{
		width:20px;
		height:20px;
		margin-right: 10px;
	}
	.polls-created-wrp{
		padding: 40px 15px;
	}
	.polls-created-wrp h2{
		font-size: 18px;
	}
	.polls-created-wrp h2 img{
		width: 20px;
		height: 20px;
	}
	.cre-pl{
		padding: 15px;
	}
	.cre-pl p{
		font-size: 16px;
		line-height: 20px;
	}
	.cre-pl li{
		padding: 5px 20px;
		font-size: 15px
	}

	.poll-left{
		padding: 40px 0;
	}
	.poll-prohd .pro-dt h3{
		font-size: 22px;
	}
	.poll-right{
		padding: 40px 0;
	}
	.poll-right .cre-pl{
		padding: 15px;
	}
	.poll-right .cre-pl li{
		font-size: 14px;
		padding: 5px 15px;
	}

	.pro-userv2{
		padding: 0 0 40px;
	}
	.profile-ver2{
		position: relative;
		width: 100%;
		padding: 0 15px;
		margin-bottom: 30px;
	}
	.profile-v2 .pro-bx .pro-img img{
		margin-right: 10px;
	}

	.user-prov3 .poll-left{
		margin-bottom: 30px;
		padding:  15px;
	}
	/* *** End User Profile 0 *** */
}