@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Raleway:300,400,500,600,700,800,900|Roboto:300,400,500,700');
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Bold.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Light.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Black.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Thin.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Medium.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
}


/* Scroll Bar Css Starts */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #ffffff;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 0;
    background: #292929;
    border: 2px solid #ffffff;
    width: 8px;
}
::-webkit-scrollbar-thumb:active {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #616161;
}
/* Scroll Bar Css Ends */

a:hover,
a:focus,
a:active{
    text-decoration: none;
}
ol, ul{
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
body{
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 400;
    color: #000;
    background: #EEEEEE;
    text-decoration: none;
}

/* Navigation Section */ 
.navbar-default{
    background:transparent;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    border: none;
    margin:0;
    border-radius: 0;
    padding:40px 0;
    z-index: 120;
}
.navbar-collapse{
    padding: 0;
}
.navbar-brand{
    height: auto;
    padding: 0;
}
.navbar-default .navbar-nav>li>a{
    padding: 10px 30px;
    color: #fff;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 500;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
.navbar-default .navbar-nav>li>a.signup{
    border: 2px solid #fff;
    border-radius: 30px; 
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:hover{
    color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: #fff;
}

/* Toggle */
.navbar-default .navbar-toggle{
    border-color: #000;
    border-radius: 0;
    transition: all 0.3s ease;
}
.navbar-default .navbar-toggle .icon-bar{
    background: #000;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background: #fff;
    border-color: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar,.navbar-default .navbar-toggle:focus .icon-bar{
    background: #000;
}
/* End Navigation CSS */

/* **** Index Page **** */
.main-block{
    padding: 120px 0;
    width: 100%;
    height: 100vh;
    position: relative;
    background: #0d47a1; /* Old browsers */
    background: -moz-linear-gradient(45deg, #0d47a1 0%, #1e88e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #0d47a1 0%,#1e88e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0d47a1 0%,#1e88e5 100%); 
}
.main-block .container{
    height: 100vh;
    position: relative;
}
.home-img img{
    width: 100%;
}
.home-info h1{
    font-size: 85px;
    font-weight: bold;
    font-family: 'Raleway';
    margin: 0 0 40px;
    line-height: 95px;
    color: #fff;
}
.home-info h1 span{
    display: block;
    color: rgba(255,255,255,0.30);
}
.home-info .btn-main{
    padding: 10px 80px;
    background: #fff;
    border-radius:50px;
    font-size: 36px;
    font-weight: bold;
    color: #1E88E5;
    font-family: 'Raleway';
    display: table;
    box-shadow: 0 9px 6px rgba(0,0,0,0.16);
    margin: 0;
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -ms-transition: .4s linear;
    transition: .4s linear;
}
.home-info .btn-main:hover{
    color: #1E88E5;
}
/* **** End Index Page **** */

/* **** Footer **** */
footer{
    padding: 20px 0 10px;
    width: 100%;
    background: #EEEEEE;
}
.footer-logo img{
    margin: 0 0 5px;
}
.footer-logo p{
    font-family: 'Brandon Grotesque';
    font-size: 16px;
    font-weight: 300;
    color: #000;
    margin: 0;
}
.foot-links ul{
    text-align: right;
}
.foot-links ul li{
    display: inline-block;
    margin-right: 20px;
}
.foot-links ul li:last-child{
    margin: 0;
}
.foot-links ul li a{
    font-size: 16px;
    font-weight: 300;
    padding: 20px 0;
    font-family: 'Montserrat';
    display: inline-block;
}
/* **** End Footer **** */

/* **** 404 Page **** */
.error-block{
    width: 100%;
    padding: 100px 0;
    height: 100vh;
}
.error-block img{
    width: 100%;
}
.error-wrp{
    position: relative;
}
.error-bx{
    width: 350px;
    position: absolute;
    right:15%;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.error-bx h1{
    font-size: 200px;
    font-weight: bold;
    color: #1E88E5;
    margin: 0 0 0px;
}
.error-bx p{
    width: 80%;
    font-size:15px;
    font-weight:500;
    font-family: 'Raleway';
    line-height: 20px;
    text-align: center;
    color: rgba(33,33,33,0.60);
    margin: 0 auto 30px;
    font-style: italic;
}
.error-bx .btn-main{
    padding: 10px 35px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background: #1E88E5;
    border-radius: 30px;
    margin: 0 auto;
    display: table;
    box-shadow: 0 3px 6px rgba(0,0,0,0.30);
}
.error-bx .btn-main i{
    margin-right: 5px;
}
/* **** End 404 Page **** */

/* **** 403 Page **** */
.error-img img{
    width: 100%;
}
.error-dt{
    padding:0 80px;
}
.error-dt h2{
    font-size: 200px;
    margin: 0;
    font-family: 'Raleway';
    font-weight: bold;
    color: #1E88E5;
    text-align: center;
}
.error-dt p{
    font-size:18px;
    font-weight:500;
    font-family: 'Raleway';
    line-height: 20px;
    text-align: center;
    color: rgba(33,33,33,0.60);
    margin: 0 auto 30px;
    font-style: italic;
}
.error-dt .btn-group{
    width: 100%;
    overflow: hidden;
}
.error-dt .btn-main{
    padding: 10px 30px;
    background: #fff;
    color: #1E88E5;
    border: 2px solid #1E88E5;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway';
    float: left;
    border-radius: 35px;
}
.error-dt .btn-main i{margin-right: 5px; font-size: 18px;}
.error-dt .home-b{
    background: #1E88E5;
    color: #fff;
    float: right;
}
.oho-er{
    padding: 200px 0;
}
/* **** End 403 Page **** */


/* **** Dashboard Page **** */
.dash-nav{
    padding: 15px 0;
    width: 100%;
    background: #fff;
    position: relative;
    box-shadow: 0 3px 8px rgba(0,0,0,0.20);
    z-index: 120;
    display: table;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    margin-left: 0;
}
.dash-nav .navbar-brand{
    padding: 7px 0 0;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background: transparent;
    color: #333;
}
.dash-nav .navbar-nav>li>a{
    padding: 0;
}
.dash-nav .navbar-nav>li>a img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
}
.dash-nav .navbar-nav>li>a i{
    color: #1E88E5;
    font-size: 22px;
    line-height: 26px;
}
.dash-nav .dropdown-menu{
    padding: 0;
    top: 123%;
    border: none;
    box-shadow: 0 3px 8px rgba(0,0,0,0.20);
}
.dash-nav .dropdown-menu li a{
    padding: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #333;
}

.add-btn{
    padding: 12px 40px;
    background: #0d47a1; /* Old browsers */
    background: -moz-linear-gradient(45deg, #0d47a1 0%, #1e88e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #0d47a1 0%,#1e88e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0d47a1 0%,#1e88e5 100%);  
    border-radius: 50px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Raleway';
    color: #fff;
    margin: 30px auto;
    display: table;
    box-shadow: 0 6px 15px rgba(0,0,0,0.48);
}
.add-btn i{
    margin-right: 10px;
}
.add-btn:hover{
    color: #fff;
}
.poll-block{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.18);
}
.poll-head{
    padding: 10px 30px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.poll-tab p{
    font-size: 16px;
    font-weight: 300;
    color: #000;
    margin: 0;
    float: left;
    line-height: 34px;
    margin-right:25px;
}
.poll-tab .nav-tabs{
    border: none;
    float: left;
}
.poll-tab .nav>li{
    margin-right: 15px;
}
.poll-tab .nav>li:last-child{
    margin-right: 0;
}
.poll-tab .nav>li>a{
    border: none;
    padding: 5px 25px;
    color: #1E88E5;
    border: 1px solid #1E88E5;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    background: #fff;
    opacity: 0.45;
}
.poll-tab .nav-tabs>li.active>a, .poll-tab .nav-tabs>li.active>a:focus, .poll-tab .nav-tabs>li.active>a:hover{
    color: #1E88E5;
    border: 1px solid #1E88E5;
    background: #fff;
    opacity: 1;
}
.filter-bx{
    float: right;
}
.filter-bx img{
    width:25px;
    height:25px;
    margin-top: 5px;
}

.poll-lst{
    min-height: 500px;
}
.poll-lst li{
    display: block;
    padding: 15px 25px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.list-nm p{
    font-size: 18px;
    font-weight: 600;
    color: #212121;
    margin: 0;
}
.action-icons ul{
    text-align: right;
}
.action-icons li{
    display: inline-block;
    margin-right:25px;
    border: none;
    padding: 3px 0 0;
    border: none;
}
.action-icons li:last-child{
    margin-right: 0;
}
.action-icons li a img{
    width: 20px;
}
/* **** End Dashboard Page **** */

/* **** User Profile 0 **** */
.user-profile{
    width: 100%;
    min-height: 100vh;
    padding: 0;
    background: #0d47a1; /* Old browsers */
    background: -moz-linear-gradient(45deg, #0d47a1 0%, #1e88e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #0d47a1 0%,#1e88e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0d47a1 0%,#1e88e5 100%); 
}
.user-profile-head{
    padding: 40px;
    width: 100%;
}
.pro-bx{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.pro-img img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);
}
.pro-dt h3{
    font-size: 34px;
    font-weight: 600;
    color: #fff;
    margin: 0;
}
.pro-dt p{
    font-size: 16px;
    font-weight: normal;
    color: rgba(255,255,255,0.60);
    margin: 0;
}
.pro-like ul{
    text-align: right;
    padding: 35px 0 0;
}
.pro-like li{
    display: inline-block;
    margin-right: 20px;
    padding: 5px 25px;
    border-radius: 30px;
    border: 1px solid #fff;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.pro-like li img{
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 10px;
}
.pro-like li:last-child{
    margin: 0;
}

.polls-created-wrp{
    padding: 40px 40px 0 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.20);
}
.polls-created-wrp h2{
    font-size: 26px;
    font-weight: bold;
    color: #212121;
    margin: 0 0 20px;
}
.polls-created-wrp h2 span{color: rgba(33,33,33,0.60); font-weight: normal; margin-left: 5px;}
.polls-created-wrp h2 img{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.created-poll{
    background: #EEEEEE;
    border-radius: 10px;
    box-shadow: 0 6px 4px rgba(0,0,0,0.25);
    margin-bottom: 30px;
}
.cre-pl{
    padding: 40px 40px;
    border-bottom: 1px solid #707070;
}
.cre-pl h4{
    font-size: 28px;
    font-weight: bold;
    color: #010101;
    margin: 0 0 15px;
}
.cre-pl p{
    font-size: 18px;
    font-weight: normal;
    color: #212121;
    line-height: 26px;
    margin: 0 0 30px;
}
.cre-pl li{
    display: inline-block;
    font-size: 18px;
    font-weight:400;
    color: #212121;
    padding: 5px 25px;
    border: 1px solid #212121;
    border-radius: 30px;
    margin: 0 10px 10px 0;
}
.cre-pl li:last-child{
    margin: 0;
}
.poll-act{
    padding: 15px 40px;
}
.poll-act ul{
    text-align: right;
}
.poll-act li{
    display: inline-block;
    margin-right:20px;
}
.poll-act li:last-child{
    margin: 0;
}
.poll-act li img{
    width: 20px;
    height: 20px;
}
/* **** End User Profile 0 **** */

/* **** User Profile 1 **** */
.add-color{
    background: #0d47a1; /* Old browsers */
    background: -moz-linear-gradient(45deg, #0d47a1 0%, #1e88e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #0d47a1 0%,#1e88e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0d47a1 0%,#1e88e5 100%); 
}
.add-color .navbar-brand{
    padding:0px 0 0;
}
.pro-v1{
    background: #EEEEEE;
}
.prov1-wrp{
    padding: 0;
}
.prov1-wrp .row{
    margin: 0;
}
.prov1-wrp .col-sm-4,
.prov1-wrp .col-sm-8{
    padding: 0;
}
.poll-left{
    padding: 60px 25px;
    background: #FAFAFA;
    border-radius: 10px 0 0 10px;
    min-height: 100vh;
}
.poll-right{
    padding: 60px 25px;
    background: #fff;
    box-shadow: -4px 0 4px rgba(0,0,0,0.07);
    border-radius: 0 10px 10px 0; 
}
.poll-right .cre-pl{
    padding: 35px;
}
.poll-right .cre-pl h4{
    font-size: 24px;
}
.poll-right .cre-pl p{
    font-size: 16px;
}
.poll-right .cre-pl li{
    font-size: 16px;
}
.poll-prohd .pro-dt p{
    font-size: 14px;
    color: #1E88E5;
}
.poll-prohd .pro-dt h3{
    font-size: 26px;
    color: #1E88E5;
}
.poll-prohd .pro-img img{
    width: 80px;
    height: 80px; 
}
.pro-v1-lk{
    padding: 40px 0;
    width: 100%;
}
.pro-v1-lk li{
    display: block;
    margin: 0 0 15px;
    padding: 8px 15px;
    border: 1px solid #1E88E5;
    border-radius: 30px;
    font-size: 18px;
    font-weight:500;
    color: #1E88E5;
}
.pro-v1-lk li:last-child{
    margin: 0;
}
.pro-v1-lk li img{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.pro-v1-lk li span{
    float: right;
}
/* **** End User Profile 1 **** */

/* **** User Profile 2 **** */
.pro-userv2{
    position: relative;
}
.userpro-v2{
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
}
.userpro-v2 .created-poll{
    background: #fff;
    box-shadow: 0 3px 4px rgba(0,0,0,0.18);
}
.profile-ver2{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 380px;
    height: auto;
    padding: 0 30px;
    background: #0d47a1; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #0d47a1 0%, #1e88e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0d47a1 0%,#1e88e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #0d47a1 0%,#1e88e5 100%); 
    box-shadow: 3px 0 6px rgba(0,0,0,0.25);
}
.logo-bx{
    padding: 60px 0;
    border-bottom: 1px solid rgba(255,255,255,0.60);
}
.logo-bx img{
    margin: 0 auto;
}
.profile-v2 .pro-bx{
    padding: 40px 15px;
}
.profile-v2 .pro-bx .pro-img img{
    width: 80px;
    height: 80px;
}
.profile-v2 .pro-dt h3{font-size: 26px;}
.profile-v2 .pro-dt p{font-size: 15px;}
.profile-v2 .pro-v1-lk{padding: 0 20px 80px;}
.profile-v2 .pro-v1-lk li{
    border: 1px solid #fff;
    color: #fff;
}
/* **** End User Profile 2 **** */

/* **** User Profile 3 **** */
.user-prov3 .col-sm-4, .user-prov3 .col-sm-8{
    padding: 0 15px;
}
.user-prov3{background-color: transparent; box-shadow: none; border-radius: 0;}
.user-prov3 .poll-right{
    box-shadow: none;
    border-radius:10px;
}
.user-prov3 .poll-right .cre-pl{
    padding: 20px;
}
.user-prov3 .poll-left{
    border-radius: 10px;
    background: #fff;
    min-height: auto;
    background: #0d47a1; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #0d47a1 0%, #1e88e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0d47a1 0%,#1e88e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #0d47a1 0%,#1e88e5 100%); 
    box-shadow: 0 5px 6px rgba(0,0,0,0.25);
}
.user-prov3 .poll-prohd .pro-dt h3,
.user-prov3 .poll-prohd .pro-dt p{
    color: #fff;
}
.user-prov3 .pro-v1-lk li{
    border: 1px solid #fff;
    color: #fff;
}
/* **** End User Profile 3 **** */

/* **** Create Poll Page **** */
.crebtn{
    z-index: 10;
    padding: 15px 35px;
    background: #1E88E5;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    box-shadow: 0 3px 4px rgba(0,0,0,0.30);
    border: none;
}
.crebtn img{
    margin-right: 10px;
    display: inline-block;
    width: 23px;
}
.crebtn:focus,
.crebtn:hover{
    color: #fff;
}
.dt-it h6,
.cre-frmg h6{
    font-size: 26px;
    font-weight: 500;
    color: #212121;
    margin: 0 0px;
}
.dt-it p,
.cre-frmg p{
    font-size: 18px;
    font-weight: 500;
    color: rgba(33,33,33,0.60);
    margin: 0 0 15px;
}
.cre-frmg .form-control{
    padding: 10px 15px;
    background: #fff;
    border: 2px solid #1E88E5;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(33,33,33,0.60);
    box-shadow: none;
    height: auto;
}
.cre-frmg{
    margin-bottom: 30px;
}
textarea{
    resize: none;
}
.add-rw{
    width: 100%;
    overflow: hidden;
}
.cre-dt{
    float: left;
}
.add-pol{
    float: right;
}
.add-pol i{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    line-height: 60px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #1E88E5;
    margin-right: 15px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.40);
}
.opt-lst li{
    display: block;
    padding: 12px 25px;
    background: #EEEEEE;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.20);
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
}
.op-lf {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.op-lf img{
    width: 35px;
}
.op-lf input {
    flex: 2;
    line-height: 35px;
    margin: 0 10px;
    font-size: 20px;
    padding: 0 5px;
    border: none;
    background: #EEEEEE;
}
.op-lf input:focus {
    background: white;
}
.clo-op{
    float: right;
}
.clo-op img{
    width: 35px;
}
.end-poll .form-group{
    margin: 0;
}
.end-poll .form-group img{
    float: left;
    width: 35px;
    text-align: center;
    margin-top: 3px;
    margin-right: 10px;
    vertical-align: middle;
}
.end-poll .form-group .form-control{
    float: right;
    width: 80%;
}
/* The container */
.cus-chek {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 auto;
}

/* Hide the browser's default checkbox */
.cus-chek input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height:45px;
  width: 45px;
  border: 3px solid #1E88E5;
  border-radius: 10px;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.cus-chek:hover input ~ .checkmark {
  background-color: #1E88E5;
}

/* When the checkbox is checked, add a blue background */
.cus-chek input:checked ~ .checkmark {
  background-color: #1E88E5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cus-chek input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cus-chek .checkmark:after {
  left: 9px;
  top: 7px;
  color: #fff;
  font-family: 'FontAwesome';
  content: "\f00c";
  font-size: 20px;
  text-align: center;
}
.item-cheh{
    margin-bottom: 30px;
}
.dt-it p{
    margin: 0;
}
.ad-st h6{
    margin-bottom: 40px;
}
/* **** End Create Poll Page **** */

/* **** Poll Start Page **** */
.start-head h1{
    font-size: 55px;
    font-weight: 600;
    color: #1E88E5;
    margin: 0 0 10px;
}
.start-head h2{
    font-size: 36px;
    font-weight: 600;
    color: #212121;
    margin: 0 0 40px;
}
.poll-start-wrp{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.18);
    padding: 60px 60px;
}

.header-wrp h2{
    font-size: 36px;
    font-weight: 600;
    color: #212121;
    margin: 0;
}
.header-wrp h2 img{
    display: inline-block;
    width: 35px;
    margin-right: 10px;
}
.header-wrp h3{
    font-size: 34px;
    font-weight:500;
    color: #212121;
    font-family: 'Montserrat';
    margin: 0;
    text-align: right;
}
.header-wrp h3 img{
    display: inline-block;
    width: 35px;
    margin-right: 10px;
}
.progress-poll{
    padding: 40px;
}
/* PROGRESS BAR */
.progress-reviews{
    margin-bottom: 40px;
    width: 100%;
}
.progress-reviews:last-child{
    margin: 0;
}
.progress-reviews .progress {
    height: 40px;
    margin: 0;
    background: #fff;
    border: 2px solid #1E88E5;
    border-radius:10px;
}
.progress-reviews .progress .skill {
    line-height: 15px;
    padding:0;
    margin: 0 0 0 ;
    text-transform: uppercase;
}
.progress-reviews .progress .skill .val {
    float: right;
    font-style: normal;
    margin: 0 20px 0 0;
}
.progress-reviews .progress-bar {
    background-color: #1E88E5;
    text-align: left;
    transition-duration: 2s;
}
.progress-reviews h4{
    padding-bottom: 5px;
    color: #1E88E5;
    font-weight:600;
    margin: 0;
    font-size: 20px;
}
.progress-reviews p{
    float: right;
    color: #1E88E5;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}
.progress-reviews p img{
    display: inline-block;
    margin-right: 10px;
    width: 20px;
}
/* End of Skill Section */


.modal-dialog{
    width: 400px;
}
.modal-content{
    border-radius: 15px;
    background: #fff;
    border: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.31);
}
.close{
    float: left;
    margin: 0;
    opacity: 1;
    color: #1E88E5;
    font-size: 24px;
    line-height: 32px;
}
.modal-header{
    border: none;
}
.modal-header h4{
    font-size: 26px;
    font-weight: normal;
    color: #1E88E5;
    margin: 0;
    float: right;
}
.modal-header h4 img{
    display: inline-block;
    margin-right: 10px;
    width: 25px;
}
.user-listing{
    width: 100%;
    overflow: hidden;
}
.user-listing li{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 20px;
}
.user-listing li:last-child{
    margin: 0;
}
.user-listing li a img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #1E88E5;
}

#modal-dialog {
    top: 20%;
}

#modal-title {
    font-size: 20px;
    text-align: center;
    
}

.close {
    position: absolute;
    font-size: 50px;
    top: 10px;
    right: 10px;
}

.form-group input {
    color: black;
    font-weight: 500;
}

.submit-div {
    text-align: center;
}

#sign-up-submit {
    height: 45px;
    width: 100px;
    border-radius: 50px;
}

#karma {
    display: inline-block;
}
#created {
    display: inline-block;
}
#participated {
    display: inline-block;
}


/* Anands changes */

#poll-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#poll-head {
    text-align: center;
    margin-bottom: 20px;
}

#form-container {
    width: 90%;
}

#ends-on {
    display: flex;
    justify-content: space-between;
}

#date-time {
    display: flex;
    align-items: center;
}

#crebtn {
    text-align: center;
    margin-top: 50px;
}

.form-group {
    display: flex;
    height: 40px;
}
.form-group input {
    font-family: arial;
    padding: 0 !important;
}
#modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#stats-modal {
    display: flex;
    margin: 35px;
}
.modal-header {
    padding: 0px;
}
#close-stats {
    margin: 5px 15px;
}
#endTime {
	padding: 0 10px !important;
	font-size: 17px;
	width: 100%;
}
#endDate {
	padding: 0 10px !important;
	font-size: 17px;
	width: 100%;
}

#pollSection {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: absolute;
    background: #0d47a1; /* Old browsers */
    background: -moz-linear-gradient(45deg, #0d47a1 0%, #1e88e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #0d47a1 0%,#1e88e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0d47a1 0%,#1e88e5 100%); 
}

#votingPoll {
    position: relative;
    width: 80%;
    margin: 100px auto;
}

#votePollTitle {
    font-size: 40px;
}

#votePollDesc {
    font-size: 20px;
}